svg(style='position: absolute; width: 0; height: 0;', width='0', height='0', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
    defs
        symbol#icon-untitled(viewbox='0 0 16 32' width='20' height='20' fill='#333')
            title untitled
            path.path1(d='M0 15.12q0-0.624 0.48-1.104l11.040-11.072q0.48-0.48 1.12-0.48t1.088 0.48l1.664 1.664q0.48 0.448 0.48 1.088t-0.48 1.12l-8.352 8.384 8.352 8.224q0.48 0.48 0.48 1.104t-0.48 1.104l-1.664 1.664q-0.448 0.48-1.088 0.48t-1.12-0.48l-11.040-11.072q-0.48-0.48-0.48-1.104z')
        symbol#icon-untitled2(viewbox='0 0 16 32' width='20' height='20' fill='#333')
            title untitled2
            path.path1(d='M0 24.512q0-0.64 0.48-1.12l8.352-8.352-8.352-8.256q-0.48-0.48-0.48-1.104t0.48-1.072l1.632-1.696q0.48-0.48 1.12-0.48t1.12 0.48l11.040 11.072q0.48 0.48 0.48 1.12t-0.48 1.12l-11.040 11.040q-0.48 0.48-1.12 0.48t-1.12-0.48l-1.632-1.632q-0.48-0.48-0.48-1.12z')
        symbol#icon-search(viewbox='0 0 16 16' width='14' height='14' fill='#333')
            title search
            path.path1(d='M15.504 13.616l-3.79-3.223c-0.392-0.353-0.811-0.514-1.149-0.499 0.895-1.048 1.435-2.407 1.435-3.893 0-3.314-2.686-6-6-6s-6 2.686-6 6 2.686 6 6 6c1.486 0 2.845-0.54 3.893-1.435-0.016 0.338 0.146 0.757 0.499 1.149l3.223 3.79c0.552 0.613 1.453 0.665 2.003 0.115s0.498-1.452-0.115-2.003zM6 10c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z')
        