%svg-common {
	background: url("sprite.svg") no-repeat;
}

.svg-free-flat-social-icons {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-free-flat-social-icons-dims {
	width: 693px;
	height: 516px;
}

