.p-about
	.container
		.row.about
			h3.about__title.
				О компании
			.about__description
				p.
					Если Вы хотите привнести в свой дом, элемент уникальности и готовы к нестандартным решениям, то наша мебель и аксессуары сделают акцент на неповторимости Вашего интерьера. Наш интернет-магазин предлагает вашему вниманию реплики известных дизайнеров всего мира. У нас Вы сможете найти стильную мягкую и корпусную мебель, дизайнерские светильники и предметы декора, которые понравятся именно Вам.

