.p-about
	.container
		.row.about
			h3.about__title.
				О компании
			.about__description
				p.
					Интернет сегодня стал полноценной социальной средой. В сети люди общаются, покупают и продают товары, ищут подрядчиков сферы услуг, партнеров для развития бизнеса. Роль всемирной паутины невозможно переоценить. Она служит огромной торговой площадкой, способом рассказать о себе миллионам потенциальных потребителей.

					Создание профессиональных интернет-сайтов – многоступенчатая задача, каждая составляющая которой должна на пять с плюсом выполнять возложенные на нее функции. Студия Frontender shop предлагает вам заказать сайт – успешно стартовать на пути к прибыльному онлайн-бизнесу.

