include ../libs/bootstrap/carousel

section.p-carousel
	.container
		.row
			.section-title
				h2.section-title--carousel.
					Новинки

		.row
			.owl-carousel__wrapper
				.owl-carousel
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/1.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/2.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/3.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/4.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/5.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/1.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/1.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
				




