include ../libs/bootstrap/carousel

section.p-carousel
	.container
		.row
			.section-title
				h2.section-title--carousel.
					Услуги

		.row
			.owl-carousel__wrapper
				.owl-carousel
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/8.jpg", alt="")
							h4.card__name.
								SEO
							.card__price.
								600.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/5.jpg", alt="")
							h4.card__name.
								Верстка
							.card__price.
								500.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/3.png", alt="")
							h4.card__name.
								Дизайн
							.card__price.
								800.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/4.jpg", alt="")
							h4.card__name.
								Тестирование
							.card__price.
								400.00 руб/чаc
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/2.jpg", alt="")
							h4.card__name.
								SEO аутсорс
							.card__price.
								договорная
							button.card__btn.
								Заказать
					div.p-carousel__item.card
						.card__inner
							.card__img
								img(src="images/6.jpg", alt="")
							h4.card__name.
								Анализ
							.card__price.
								700.00 руб/чаc
							button.card__btn.
								Заказать
				




