include ../libs/bootstrap/carousel

section.p-carousel
	.container
		.row
			.section-title
				h2.section-title--carousel
				|Новинки

		.row
			.owl-carousel
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
				div.p-carousel__item.card
					.card__inner
						.card__img
							+carousel("gallery-slide",[
								{image:"images/1.jpg",h1:"Headline #1"},
								{image:"images/4.jpg",h1:"Headline #2"},
								{image:"images/2.jpg",h1:"Headline #3"},
								{image:"images/3.jpg",h1:"Headline #4"}
				],false)
						.card__name.
							Responsive
						.card__price.
							$300
						button.card__btn.
							Заказать
			




