include ../libs/bootstrap/carousel
include ../libs/bootstrap/dropdowns
include ../libs/bootstrap/accordion

- var user = { description: 'foo bar baz' }
- var authorised = false

.p-slider
	.container
		.row
			.col-md-12
				+carousel("Carousel",[
					{image:"images/slide-7.jpg",h1:""},
					{image:"images/slide-1.jpg",h1:""},
					{image:"images/slide-5.jpg",h1:""},
					{image:"images/slide-6.jpg",h1:""}
	],5000)



