include ../libs/bootstrap/carousel
include ../libs/bootstrap/dropdowns
include ../libs/bootstrap/accordion

- var user = { description: 'foo bar baz' }
- var authorised = false


.container
	.row
		.col-md-12
			+carousel("Carousel",[
				{image:"images/1.jpg",h1:"Headline #1"},
				{image:"images/4.jpg",h1:"Headline #2"},
				{image:"images/2.jpg",h1:"Headline #3"},
				{image:"images/3.jpg",h1:"Headline #4"}
])



