script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

include ../block/social.jade

//- script(src='/js/libs/jquery.2.1.3.min.js')
script(src='/js/libs/owl.carousel.min.js')
//- script(src='/js/libs/bootstrap/bootstrap.min.js')
script(src='/js/main.js')
footer.p-footer
	.container
		.row.p-footer__up
			.col-50
				.p-footer__social
					+social-list



			.col-50
				.p-footer__contact
					.phone
						|тел.
						span.phone--large
							strong
							|944 40 78
						.copyright
						|© 2015 Frontender shop	
	.p-footer__assign
		.container
			.row
				.assign
					|Верстка:
					a(href="http://zvezdochetag.github.io/")
						|Ястремский Виталий




