header.p-header
	.container
		.row
			.col-30
				.p-header__contact
					.phone
						i.icon-phone
						span
						|тел. 94 140 54
					.mail
						i.icon-envelop
						span
						|frontender-shop@mail.ru
					.location
						i.icon-location
						span
						|СПб, ул. Куйбышева дом 8
			.col-36
				.p-header__logo
					a.logo
						img(src="/images/logo-2.jpg", alt="logo")
			.col-30
				.p-header__user-menu
					.profile
						span
						|Мой профиль
					.basket
						span.icon-cart
						span.basket__name
							|Моя корзина
						span.basket__order.
							корзина пуста
					button.button--callback.
						Заказать обратный звонок

