include ../libs/bootstrap/navbar

section.service-menu.service-menu--footer
	.container
		.row
			+navbar("меню","dropdown_menu","default","#","mynav")
				+nav_item("index.html","active") Главная
				+nav_item("about.html") О нас
				+nav_item("contact.html") Доставка и оплата
				+nav_item("contact.html") Гарантии
				+nav_item("contact.html") Контакты