include ../libs/bootstrap/navbar

section.service-menu
	.container
		.row
			+navbar("","dropdown_menu")
				+nav_item("index.html","active") Главная
				+nav_item("goods.html") Верстка
				+nav_item("product-page.html") Разработка
				+nav_item("contact.html") Продвижение
				+nav_item("contact.html") Дизайн

section.service-menu__form
		form.search-form.clearfix
			input(type="text",class="search-form__input",placeholder="найти товар")
			button(type="submit",class="search-form__btn")




	