.container
	.row
		.col-30.aside-menu
			nav.aside-menu__nav
				ul.menu--goods
					li
						a.
							Верстка
					li
						a.
							Разработка
					li
						a.
							Дизайн
					li
						a.
							Рефакторинг
		.col-70
			.section-title
				h2.section-title--carousel.
					Услуги
			.gallery
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
				.gallery__item.col-25 1
