.p-header {
	background-color: #fff;
	margin-bottom: 0px;
	
	&__logo {
		width: 100%;
		text-align: center;
		background-color: #1976D3;


	}
	&__contact, &__user-menu {
		display: table;
		margin: 0 auto;
		padding: 15px 0;
		
	
	}

	&__contact {
		i {
			margin-right: 5px;
			color: #EE522F;
			font-size: 16px;
		}

		.phone, .mail {
			margin-bottom: 5px;
		}
	}

	&__user-menu {
text-align: center;

		.profile {
			margin-bottom: 12px;
				background-color: #C9C5C5;
				color: #555;
			padding: 4px 0;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			transition: all 0.1s ease-out;
			
			
			&:hover {

			background-color: #d3d3d3;
			transition: all 0.3s ease-out;
			}
			
		}

		.button--callback {
			font-size: 12px;
			padding: 5px 10px;
			border: none;
			background-color: #EE522F;
			color: #FFF;
			
			
			&:hover {
				background-color: #ED6A50;
			}
		}
		
		.basket {
			position: relative;
			margin-bottom: 15px;
			padding-right: 5px;
			
			&__name, &__order {
				display: block;
				line-height: 14px;
			}

			&__order {
				font-size: 13px;
				color: #dfd5;
			}
			
			.icon-cart {
				position: absolute;
				top: 0px;
				left: 10px;
				font-size: 26px;
			}
		}
	}
}

.logo {
	cursor: pointer;
	margin: 0 auto;
}

.phone {
	
}

// MENU

.menu {
	margin: 0;
	padding-left: 0;
		border-radius: 0 5px 5px 0;
	background-color: #3d3d3d;

	
	&__item {
		display: inline-block;
		
	}
	&__item + &__item {
		
		
	}

	&__link {
		display: block;
		font-size: 20px;
		color: #FFF;
		padding: 10px 20px;
		cursor: pointer;
		
		&:hover {
			background-color: #FFF;
			color: #3d3d3d;
			text-decoration: none;
		}
	}
}

//FORM

input {
	width: 50%;
	height: 30px;
	display: block;
	margin-bottom: 5px;
	
	
}


@media (min-width: 600px) and (max-width: 991px) {
	.p-header__contact, .p-header__user-menu {
		display: block;
	}

	.p-header__logo {
		min-height: 100px;
		background-color: #1976d3;
	}
	.p-header__user-menu {
		padding: 0;
		margin: 0;
		
		.profile {
			margin-bottom: 5px;
			font-size: 10px;
			margin: 5px 15px; 

		}

		.basket {
			margin: 0 auto;
			width: 190px;  
			margin-bottom: 7px;
			
			.icon-cart {
				left: 17px;
				font-size: 22px;
			}

			&__order {
				font-size: 12px;
				 
			}

			&__name {
				font-size: 13px; 
			}
		}
		.button--callback {
			margin-right: 13px; 
			margin-left: 13px;
			font-size: 11px;
			padding: 5px 8px; 
		}
	}s

	.p-header__contact {
		font-size: 12px;
		padding-left: 5px; 
		padding-right: 5px;
		

		
		i {
			font-size: 13px;
			margin-right: 3px;  
		}
	}

}

@media (min-width: 992px) {



	.p-header__contact, .p-header__user-menu {
    display: block;
    padding: 10px 0; 
}
		.p-header__contact {
		padding-left: 15px; 
		}
	
		.p-header__user-menu { 
			text-align: right;
			padding-bottom: 0; 
		
				.profile {
					display: inline-block;
					padding: 4px 35px; 
					margin-bottom: 5px; 
					
					
					}

				.basket {
					width: auto;
					 margin: 0;
					 margin-bottom: 7px; 
					 margin-right: 23px; 
					 
					 .icon-cart {
					 	right: 95px;
					 } 
					}
		}
		

}

