.p-header {
	background-color: #fff;
	margin-bottom: 50px;
	
	&__logo {
		width: 100%;
		text-align: center;
		background-color: #1976D3;


	}
	&__contact, &__user-menu {
		display: table;
		margin: 0 auto;
	
	}
}

.logo {
	cursor: pointer;
	margin: 0 auto;
}

.phone {
	
}

// MENU

.menu {
	margin: 0;
	padding-left: 0;
		border-radius: 0 5px 5px 0;
	background-color: #3d3d3d;

	
	&__item {
		display: inline-block;
		
	}
	&__item + &__item {
		
		
	}

	&__link {
		display: block;
		font-size: 20px;
		color: #FFF;
		padding: 10px 20px;
		cursor: pointer;
		
		&:hover {
			background-color: #FFF;
			color: #3d3d3d;
			text-decoration: none;
		}
	}
}

//FORM

input {
	width: 50%;
	height: 30px;
	display: block;
	margin-bottom: 5px;
	
	
}
