.service-menu--footer {

	.navbar.navbar-default {
		margin-bottom: 0;
		border-bottom: 4px solid #dbdbdb;
		border-radius: 10px;
		border-top: 4px solid #dbdbdb;
		border-left: none;
		border-right: none;
	}

	.navbar-brand {
		padding-left: 0;
		text-transform: uppercase;
	}
	
}