

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title pageTitle
    
    link(href='/css/all.min.css', rel='stylesheet')
    //script(src="js/vendor/modernizr-2.8.3.min.js")
    
  body
    
    include components/header.jade
    include components/navbar.jade
    include components/product-page__item.jade

    
    include components/navbar-footer.jade
    
    include components/footer.jade


